* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: Verdana;
}

body {
    background-color: black;
    background-size: cover;
    text-align: center;
}

#title {
    color: white;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    margin: 30px auto;
}

#c2a_link {
    color: aquamarine;
    margin: 40px auto;
    font-weight: normal;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.mid-banner {
    font-size: 42px;
    height: 100px;
    text-align: center;
    font-weight: 300;
    color: white;
    margin: 40px auto;
}

#sub-banner {
    font-size: 21px;
    color: gray;
    margin-top: 20px;
}

.coming_soon_img {
    margin: 20px auto;
}

footer {
    text-align: right;
    color: gray;
    font-size: 24px;
    bottom: 0;
    margin: 20px;
}